@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #fff;
$subColor: #e3d7a3;
$keyColor: #72640c;
$fontColor: #4c4c4c;



/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #000;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor; }

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; 
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

  
/* Header
------------------------------------------------------------*/
.header-img{
  width:100%;
  img {
      max-width: 100%;
      display: block;
      margin:auto;
    }
}

/* main
------------------------------------------------------------*/
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}

#contents {
  background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
  }
  h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  .contents-box {
    @include flex(1);
    margin: 10px 10px;
    padding: 20px;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
  h3{
    margin-bottom: 10px;
  }
  .content-text{
    margin:10px 5px;
  }
}


/* footer
------------------------------------------------------------*/

footer {
  background-color: $baseColor;
  padding: 30px 0;
  text-align: center;
  color: $fontColor;
}
.button-readmore {
          margin: auto;
          text-align: center;
          padding: 5px 0;
          width: 180px;
          display: block;
          color: #FFF;
          font-weight: bold;
          background-color: $keyColor;
          @extend .abel;
          @extend .uppercase;
          @include border-radius(4px);
          font-size: 1rem;
            &:hover {
              background-color: darken($keyColor, 10%);
            }
        }

        
        
// PC
@media (min-width: 769px) {
/* Base
------------------------------------------------------------*/
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  
  /* Header
------------------------------------------------------------*/
.header-img{
  width:100%;
  img {
      max-width: 100%;
      display: block;
      margin:auto;
    }
}

/* main
------------------------------------------------------------*/
#contents {
  background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(row);
  }
  
  .contents-box {
    @include flex(1);
    margin: 10px 10px;
    padding: 20px;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
  
  .content-text{
    margin:10px 5px;
  }
}
}